{"filter":false,"title":".gitignore","tooltip":"/sample_app_demo_api/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":31,"column":0},"end":{"row":32,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":32,"column":0},"end":{"row":32,"column":5},"action":"insert","lines":["/.env"],"id":3}],[{"start":{"row":32,"column":5},"end":{"row":33,"column":0},"action":"insert","lines":["",""],"id":4}]]},"ace":{"folds":[],"scrolltop":383,"scrollleft":0,"selection":{"start":{"row":32,"column":5},"end":{"row":32,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":26,"state":"start","mode":"ace/mode/ini"}},"timestamp":1651472372296,"hash":"4e64a0ee49994e97cdc939be2929c58bd74d34fe"}